/**
 * Body has no background.
 */
body {
    background: none;
}

/**
 * All divs will be invisible.
 */
div {
    border: none;
    background: none;
    display: none;
    float: none;
}

#hide-logo {
    display: none;
}

/**
 * Page, body, designer container and designer divs will be visible.
 */
#page, #body {
    display: block;
}

#designer-container {
    overflow: visible;
    display: block;
}

#designer {
    display: block;
}



