/**
 * Font face for consolas.
 */
@font-face {
    font-family: 'Consolas'; /* a name to be used later*/
    src: url("../fonts/consolas.ttf"); /*URL to font*/
}

@font-face {
    font-family: Calibri;
    font-style: normal;
    src: url('../fonts/calibri.ttf');
}

@font-face {
    font-family: Calibri;
    font-weight: bold;
    src: url('../fonts/calibrib.ttf');
}

@font-face {
    font-family: Calibri;
    font-style: italic;
    src: url('../fonts/calibrii.ttf');
}

/** 
 * Style for basic elements.
 */
body {
    background-color: #d4d9db;
    background-image: url("../images/background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

div {
    padding: 0;
    border: 0;
    position: relative;  
}

h2 {
    font-size: 14pt;
    color: #313662;
    border-bottom: 1px #313662 solid;
    margin: 14pt 0 14pt 0;
}

h1.loading {
    margin: 10px;
    color: #313662;
    font-size: 16pt;
}

h1.loading span {
    vertical-align: middle;
}

h1.loading img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    margin: 0 auto 0 auto;
    border: 1px #1f1a3b solid;
    border-collapse: collapse;
}

th {
    color: #1f1a3b;
    background: #6f83ad;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 1px #1f1a3b solid;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 2px 5px 2px 5px;
    border: 1px #1f1a3b solid;
}

td img {
    display: block;
    margin: 2px auto 2px auto;
}

#admin-page label, #page label, #login-page label {
    width: 124px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    display: inline-block;
}

#admin-page input, #page input, #login-page input {
    width: 300px;
    height: auto;
    border: 1px gray solid;
}

#admin-page input:focus, #page input:focus, #login-page input:focus {
    border: 1px #1f1a3b solid;
}

#admin-page select, #page select {
    width: 300px;
    height: auto;
    border: 1px gray solid;
}

#admin-page select:focus, #page select:focus {
    border: 1px #1f1a3b solid;
}

#admin-page input[type=file] {
    background: white;
}

#admin-page input[type=submit], #page input[type=submit], #login-page input[type=submit] {
    width: 99px;
    cursor: pointer;
}

button, .rounded-corners {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
     border-radius: 6px;
     cursor: pointer;
}

/** 
 * Style for document elements.
 */
#admin-page, #page, #login-page {
    display: none;
}

#noscript {
    width: 1002px;
    padding: 10px;
    background: #ff9999;
    font-size: 14pt;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    border: 1px #1f1a3b solid;
}

#admin-page, #page {
    width: 1024px;
    margin: 10px auto 10px auto;
}

#admin-page h1 {
    background: #6f83ad;
    width: 780px;
    margin: 0 0 15px 0;
    padding: 10px;
    color: #1f1a3b;
    font-size: 16pt;
    vertical-align: middle;
    float: right;
    border: 1px #1f1a3b solid;
}

#admin-header, #header {
    background: #6f83ad;
    width: 1022px;
    height: 200px;
    float: left;
    text-align: center;
    border: 1px #1f1a3b solid;
}

#admin-body, #body {
    width: 1024px;
    margin: 15px 0 15px 0;
    float: left;
}

#admin-menu {
    background: #6f83ad;
    width: 200px;
    float: left;
    border: 1px #1f1a3b solid;
}

#admin-menu a {
    color: #1f1a3b;
    width: 190px;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    display: block;
    font-weight: bold;
}

#admin-menu a.odd {
    background: #6f83ad;
}

#admin-menu a.even {
    background: #a1b3cf;
}

#admin-menu a:hover {
    background: #507aae;
}

#admin-content {
    background: #a1b3cf;
    width: 780px;
    float: right;
    font-size: 12pt;
    padding: 10px;
    border: 1px #1f1a3b solid;
}

#content, #error-content {
    width: 1002px;
    background: #a1b3cf;
    font-size: 12pt;
    float: left;
    padding: 10px;
    border: 1px #1f1a3b solid;
}

#admin-footer, #footer {
    background: #6f83ad;
    width: 1002px;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px #1f1a3b solid;
    vertical-align: middle;
    font-size: 10pt;
    text-align: center;
}

/** 
 * Style for error page.
 */
#error-content {
    background: #ff9999;
    font-size: 14pt;
}

#error-content h1 {
    padding: 0;
    margin: 0 0 18pt 0;
    color: #990000;
    font-size: 18pt;
}

#error-content p {
    margin: 14pt 0 0 0;
}

#go-back {
    height: 28px;
    line-height: 10pt;
    background: url("../images/button.png");
    background-repeat: repeat-x;
    background-position: center center;
    font-size: 10pt; 
    border: 1px #1f1a3b solid;
    margin: 12pt 0 0 0;
    padding: 2px;
    color: black;
    border: 1px #1f1a3b solid;
    text-align: center;
    vertical-align: middle;
}

#go-back:hover, #go-back:active {
    background: url("../images/button-active.png");
    background-repeat: repeat-x;
    background-position: center center;
}

/** 
 * Style for designer.
 */
#hide-logo {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
}

#designer-container {
    width: 1022px;
    height: 600px;
    overflow: scroll;
    text-align: center;
    float: left;
    background: darkgray;
    font-family: Calibri;
    border: 1px #1f1a3b solid;
}

#designer {
    width: 1022px; 
    height: 600px;
    background: #a1b3cf;
    vertical-align: middle;
}

#designer-actions {
    width: 1002px;
    padding: 10px;
    background: #a1b3cf;
    border: 1px #1f1a3b solid;
    margin-bottom: 15px;
}

#designer-actions select, label {
    vertical-align: middle;
    display: inline-block;
}

#designer-actions button {
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: black;
    background: url("../images/button.png");
    -moz-box-sizing:content-box;
    box-sizing: content-box;
    font-size: 12pt; 
    border: 1px #1f1a3b solid;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

#designer-actions img {
    width: 16px;
    height: 16px;
    display: inline-block; 
}

#designer-actions button:active {
    background: url("../images/button-active.png");
}

.tabs {
    margin: 0;
    padding-left: 0px;
}

.tabs li {
    height: 40px;
    list-style: none;
    vertical-align: top;
    display: inline-block;
    background: #6f83ad;
    border: 1px #1f1a3b solid;
    border-bottom: none;
}

.tabs img {
    width: 30px;
    display: inline-block; 
    vertical-align: middle;
}

.tabs a {
    height: 30px;
    margin: 0;
    line-height: 30px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.tabs a:hover {
    background: #507aae;
}

.tabs a.active {
    background: #a1b3cf;
    font-weight: bold;
}

.tab {
    width: 1002px;
    min-height: 62px;
    background: #a1b3cf;
    padding: 10px;
    border: 1px #1f1a3b solid;
    margin-bottom: 15px;
}

.tab button {
    width: 56px;
    height: 56px;
    background: #6f83ad;
    background-image: url("../images/device_button.png");
    background-repeat: repeat-x;
    background-position: center center;
    margin: 0px 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px #1f1a3b solid;
    line-height: 54px;
    padding: 2px;
    -moz-box-sizing:content-box;
    box-sizing: content-box;
}

.tab button:hover, .tab button:active {
    background: #507aae;
    background-image: url("../images/device-button-active.png");
    background-repeat: repeat-x;
    background-position: center center;
}

.tab button[disabled=disabled], .tab button:disabled {
    background: #808080;
    background-image: url("../images/device-button-disabled.png");
    background-repeat: repeat-x;
    background-position: center center;
    border: 1px #1f1f1f solid;
}

.device, .cable {
    display: inline-block;
}

.separator {
    width: 1px;
    min-height: 25px;
    margin: 0 9px 0 10px;
    border-right: 2px #1f1a3b solid;
    display: inline-block;
    vertical-align: middle;
}

#tooltip {
    position: absolute;
}

#tooltip-header {
    position: relative;
    border: 1px solid #666666;	
    padding: 3px;
    margin: 0;
    font-size: 11px;
    color: #FFFFFF;
    background: #707778;
    opacity: 0.88;
    display: block;
}

#tooltip-body {
    position: relative;
    border: 1px solid #666666;
    border-top: none;
    padding: 5px;
    margin: 0;
    font-size: 12px;
    color: #707778;
    background: #d4d9db;
    opacity: 0.88;
    display: block;
}

.interfaces {
    border: none;
}

.interfaces tr {
    margin: 0;
    padding: 0;
}

.interfaces td {
    border: none;
    margin: 0 5px;
}

.connected {
    color: darkgreen;
}

.disconnected {
    color: #990000;
}

/**
 * Style for admin page - devices
 */
#admin-content .tab {
    width: auto;
}

#admin-content .none {
    font-size: 16pt;
    font-weight: bold;
}

/**
 * Style for forms.
 */
#form-container {
    width: 500px;
    text-align: center;
    margin: 0 auto 20px auto;
}

#form-container .error {
    border: 1px solid #990000;
}

#form-container .readonly, #form-container .readonly:hover {
    color: gray;
    background: lightgray;
    border: 1px solid darkgray;
}

.form-line {
    margin: 10px 0 10px 0;
}

.form-field {
    width: 305px;
    text-align: left;
    display: inline-block;
}

.form-line img {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.form-star {
    color: #990000;
}

/**
 * Style for login page.
 */
#login-page {
    width: 780px;
    padding: 10px;
    background: #a1b3cf;
    margin: 10px auto 10px auto;
    text-align: center;
    font-size: 12pt;
    border: 1px #1f1a3b solid;
}

#login-page .error {
    color: #990000;
    font-weight: bold;
    border: 0;
}

/**
 * Style for error message from library message.js
 */
.dhtmlx-error {
    font-weight: bold !important;
    color: white !important;
    background: #990000 !important;
}

input.inform, select.inform {
    width: 230px;
    margin-left: 20px;
}

input[type=file].inform {
    width: 230px;
    background: white;
}

select.port-select {
    width: 420px;
}

textarea.inform{
    width: 230px;
    height: 50px;
    margin-left: 20px;
}

.form_in_box, #img_in_box {
    padding: 10px 0;
}

#iframe_in_box {
    padding: 10px 0;
    margin: 0;
    height: 70px;
    border: none;
}

.form_in_box div {
    text-align: left;
}

#import-form .dhtmlx_button {
    margin-top: 10px;
}

.dhtmlx_button input[type=button] {
    width: 100px;
}

#loading {
    display: none;
    margin-top: 10px;
}