                <div id="admin-menu">
{section name=index loop=$items}
                    <a class="{cycle values='odd,even'}" href="{$items[index]->getLink()}" {include file="../title.tpl" titleHeader="{$items[index]->getName()}"}>{$items[index]->getName()}</a>
{/section}
                </div>