.dhtmlx_message_area{
    position:fixed;
    right:5px;
    width:250px;
    z-index:1000;
}

.dhtmlx-info{
    min-width: 120px;
    min-height: 20px;
    padding:4px 4px 4px 20px;
    font-family:Tahoma;
    z-index: 10000;

    margin:5px;
    margin-bottom:10px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.dhtmlx-info.hidden{
    height:0px;
    min-height: 0px;
    padding-top:0px;
    padding-bottom:0px;
    border-width:0px;
    margin-top:0px;
    margin-bottom:0px;
    overflow:hidden;
}

.dhtmlx_modal_box{
    overflow:hidden;
    display: inline-block;
    min-width: 300px;
    width: 300px;
    text-align: center;
    position:fixed;

    background-color: #fff;
    background:-webkit-linear-gradient(top, #ffffff 1%, #d0d0d0 99%);
    background:-moz-linear-gradient(top, #ffffff 1%, #d0d0d0 99%);
    box-shadow: 0px 0px 14px #888;

    font-family: Tahoma;

    z-index:20000;

    border-radius:6px;
    border: 1px solid #ffffff;
}

.dhtmlx_popup_title{
    border-top-left-radius:5px;
    border-top-right-radius:5px;

    border-width:0px;
    background-color: #4c4c4c;
    background: url("./skyblue-images/title.png");
}

.dhtmlx-info, .dhtmlx_popup_button, .dhtmlx_button{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select:-moz-none;

    cursor:pointer;
}

.dhtmlx_popup_text{
    overflow:hidden;
}

.dhtmlx_popup_controls{
    border-radius:6px;
    padding:5px;
}

.dhtmlx_popup_button, .dhtmlx_button{
    height: 30px;
    line-height:30px;

    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;

    color:#FFF;
}
.dhtmlx_popup_button{
    min-width: 120px;
}

div.dhx_modal_cover {
    background-color:#000;
    cursor:default;

    filter:alpha(opacity = 20);
    opacity: 0.2;

    position: fixed;
    z-index:19999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    border: none;
    zoom: 1;
}

.dhtmlx-info img, .dhtmlx_modal_box img{
    float:left;
    margin-right:20px;
}
.dhtmlx-info img{
    margin-left:-10px;
}

.dhtmlx-alert-error .dhtmlx_popup_title, .dhtmlx-confirm-error .dhtmlx_popup_title{
    background: url("./skyblue-images/error.png");
}

.dhtmlx-alert-error, .dhtmlx-confirm-error {
    border: 1px solid #ff0000;
}

/*Skin section*/
.dhtmlx_button, .dhtmlx_popup_button{
    box-shadow: 0px 0px 4px #888;
    border:1px solid #838383;
}

.dhtmlx_button input, .dhtmlx_popup_button div{
    border:1px solid #FFF;
    background: url("./skyblue-images/button.png");
    color:#000;
    border-radius:6px;
    font-size:15px; 

    -moz-box-sizing:content-box;
    box-sizing:content-box;

    color:#000; padding:0px; margin:0px;
    vertical-align:top;

    height:28px;
    line-height:28px;
}

.dhtmlx_button input:focus, .dhtmlx_button input:active, .dhtmlx_popup_button div:active, .dhtmlx_popup_button div:focus{
    background: url("./skyblue-images/button-active.png");
}

.dhtmlx_popup_title{
    color:#000;

    height:40px; line-height:40px;
    font-size:20px;
}
.dhtmlx_popup_text{
    margin:15px 15px 5px 15px;
    font-size:14px;
    color:#000;
    min-height:30px;
    border-radius:6px;
}


.dhtmlx-info, .dhtmlx-error{
    font-size:14px;
    color:#000;
    box-shadow: 0px 0px 4px #000;
    margin-bottom:10px;

    background: url("./skyblue-images/info.png");
    
    background-color:rgba(0,0,0,0.8);
    border-radius:5px;
    border:2px solid #fff;
}

.dhtmlx-error{
    color:red;
}
