            <div id="{if $admin eq 'true'}admin-{/if}header">
                <div id="hide-logo" {include file="./title.tpl" titleHeader="Hide/Show logo"}><img src="{$smarty.const.ROOT}images/eye.png" /></div>
                <a href="{basename($smarty.server.PHP_SELF)}"><img src="{$smarty.const.ROOT}images/logo.png" alt="Network designer" {include file="./title.tpl" titleHeader="Network designer"} /></a>
            </div>